<aside
  class="flex flex-col justify-between items-center pt-[76px] py-4 w-[60px] bg-slate-300 h-full lg:w-[240px]"
>
  <div
    class="flex items-center justify-center bg-white w-10 h-10 rounded-full lg:hidden"
  >
    <span>S</span>
  </div>

  <figure class="hidden lg:flex">
    <img src="assets/logo_final22.png" alt="logo" class="w-30 h-16" />
  </figure>
  <ul class="flex flex-col list-none gap-y-2">
    <button
      (click)="switchToAdd()"
      class="flex items-center gap-x-2 border-none px-3 py-2.5 rounded-md lg:px-8 bg-gray-400 hover:bg-gray-600 text-white transition-colors duration-200 cursor-pointer"
    >
      <i class="pi pi-plus"></i>
      <span class="hidden lg:block">Agregar</span>
    </button>
    <button
      (click)="switchToView()"
      class="flex items-center gap-x-2 border-none px-3 py-2.5 rounded-md lg:px-8 bg-gray-400 hover:bg-gray-600 text-white transition-colors duration-200 cursor-pointer"
    >
      <i class="pi pi-search"></i>
      <span class="hidden lg:block">Consultar</span>
    </button>
  </ul>

  <figure class="flex items-center gap-x-2">
    <img
      src="https://github.com/DAXCREZ.png"
      alt="logo"
      class="w-10 h-10 rounded-full lg:w-12 lg:h-12"
    />
    <div class="hidden lg:flex flex-col">
      <p class="text-md">Luis Diego Bayona</p>
      <span class="text-sm">lubafa2014&#64;gmail.com</span>
    </div>
  </figure>
</aside>
